.main-sidebar {
    background-color: var(black);

}

.nav-pills .nav-item .nav-link {
    color: azure;
    font-size: 20px;
}

.img {
    max-width: 50%;
        height: auto;
}

.nav-pills .nav-item:hover>.nav-link {
    background-color: azure !important;
    color: var(black) !important;
}

.nav-pills .nav-item.active>.nav-link {
    background-color: azure !important;
    /* Cambia a tu color deseado */
    color: var(black) !important;
    /* Cambia a tu color deseado para el texto */
}
.sidebar {
    width: 250px;
    /* Ancho inicial del sidebar */
    transition: width 0.3s ease;
    /* Transición suave de la propiedad width */
}

.content {
    margin-left: 250px;
    /* Espacio para el sidebar */
    transition: margin-left 0.3s ease;
    /* Transición suave de la propiedad margin-left */
}